@page "/AddCollegeCareerForm"
@inject AddCareerFormViewModel CollegeCareer

<SupTitleBarComponent ClassIconBar="@barIconClass" TitleBarSup="@supTitleBar" />

<EditForm Model="@CollegeCareer" OnValidSubmit="SaveCollegeCareers">
    <section class="container-fluid mt-4 bg-white rounded shadow">
        <div class="row p-4">
            <div class="col-lg-5 mx-auto">
                <form class="form-floating mb-4">
                    <InputText @bind-Value="CollegeCareer.Name" class="form-control" type="text" id="nameCollegeCareer" placeholder=""/>
                    <label class="form-label" for="nameCollegeCareer">Nombre de carrera</label>
                </form>
                <form class="form-floating">
                    <InputNumber @bind-Value="CollegeCareer.Duration" class="form-control" type="number" placeholder="" id="durationCollegeCareer"/>
                    <label class="form-label" for="durationCollegeCareer">Duración de la carrera</label>
                </form>
                <form class="form-floating mb-4">
                    <InputSelect @bind-Value="CollegeCareer.TypeId" class="form-select" name="" id="typeCollegeCareer" placeholder="Tipo Carrera">
                        @foreach (var item in CollegeCareer.TypesCareers)
                        {
                            <option value="@item.Id">@item.Description</option>
                        }
                    </InputSelect>
                    <label class="form-label" for="typeCollegeCareer">Tipo de carrera:</label>
                </form>
                <div class="mt-4">
                    <div class="col-lg-12 mx-auto mb-2">
                        <span>Descripción: </span>
                        <InputTextArea @bind-Value="CollegeCareer.Description" class="form-control w-100 mt-3" style="height: 150px;" name="" id="aditionalComments" placeholder="Comentarios Adicionales" />                        
                    </div>
                </div>
                <div class="d-flex justify-content-end align-items-end h-75">
                    <button class="btn btn-success btn-lg me-2" type="submit">Guardar</button>
                    <nav href="/Home">
                        <button class="btn btn-danger btn-lg">Cancelar</button>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</EditForm>

@code {
    private string supTitleBar = "Agregar Carrera";
    private string barIconClass = "fa-solid fa-folder-plus";

    protected override async Task OnInitializedAsync()
    {
        await CollegeCareer.DisplayTypeCareers();
    }
    private async Task SaveCollegeCareers()
    {
        await CollegeCareer.SaveCollegeCareer();
    }
}
